# Operating System files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/

# Power BI & Analytics tools
*.pbix.backup
*.rdl.data
*.pbit

# Environment variables
.env
.env.local

# Database/Docker local files
mysql-data/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
